HARDWARE_TEST_CREDENTIALS__DEFAULT_SSH__USERNAME=tester
HARDWARE_TEST_CREDENTIALS__DEFAULT_SSH__PASSWORD=change-me
HARDWARE_TEST_CREDENTIALS__ANALYZER_DEFAULT__USERNAME=tester
HARDWARE_TEST_CREDENTIALS__ANALYZER_DEFAULT__PASSWORD=change-me
HARDWARE_TEST_CREDENTIALS__GENERATOR_DEFAULT__USERNAME=tester
HARDWARE_TEST_CREDENTIALS__GENERATOR_DEFAULT__PASSWORD=change-me
